/*- Tipografias -*/
@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Space Grotesk';
    src: url('..//Space_Grotesk/SpaceGrotesk-VariableFont_wght.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

.gridDashboard{
    background-color: black;
    color: white;

    margin: 0;
    padding: 0;

    width: 100%; /* Ancho al 100% del cuerpo */
    height: 100vh;

    display: grid;
    grid-template-columns: 15% 65% 20%;
    grid-template-rows: 90vh 10;
}


/*- Propiedades del menu -*/
.menu{
    display: grid;
    grid-template-rows: 15% 65% 20% ;
    align-items: center;

    gap: 1%;
    height: 100vh;
    background-color: rgb(0, 0, 0);

    border-right: 0.0625rem solid rgba(255, 255, 255, 0.20) ;
}

/*- Encabezado -*/
.menuArriba{
    grid-row: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10%;
}

.menuLogo{
    width: 60%;
    height: 60%;
}

.menuButton{
    color: #FFF;
    text-align: center;

    font-size: 1.75rem;
    font-weight: 400;

    background-color: transparent;
    border: 0px;
    cursor: pointer;
}

/*- Menu -*/
.divBotones{
    grid-row: 2;
    align-self: self-start;

    display: flex;
    flex-direction: column;
    gap: 4%;
    margin-top: 1.81rem;
    margin-bottom: 5rem;

    overflow-y: scroll;
    height: 95%;
}

#botonesAuxIzquierda{
    display: none;
}


.divBotones::-webkit-scrollbar {
    width: 3px; /* Ancho de la barra de desplazamiento */
    height: 0px;
}

.divBotones::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.1); /* Cambia el color del pulgar de la barra */
    border-radius: 5px; /* Bordes redondeados para el pulgar */
}

.divBotones::-webkit-scrollbar-track {
    background-color: rgba(255, 255, 255, 0.05); /* Cambia el color de la pista de la barra */
}

.botones{
    display: flex;

    padding: 0.375rem 0.375rem 0.375rem 10%;

    align-items: center;
    gap: 1.75rem;

    width: 95%;
    height: 2.6rem;
    background-color: transparent;
    border: none;
    cursor: pointer;
    white-space: nowrap;
    transition: 0.5s;
    overflow: hidden;
}

.botones:hover{
    border-radius: 0rem 0.375rem 0.375rem 0rem;
    background: rgba(255, 255, 255, 0.20);
}

.botonImage{
    color: #FFF;
    text-align: center;

    font-size: 1.5rem;
    font-style: normal;

    font-weight: 400;
    line-height: normal;
}

.botonLetra{
    color: #FFF;

    font-family: Poppins;
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;

    line-height: normal;
}

.botonSelecionado{
    border-radius: 0rem 0.375rem 0.375rem 0rem;
    background: rgba(255, 255, 255, 0.20);
}

.menuFooter{
    grid-row: 3;
    align-self: self-start;

    display: flex;
    flex-direction: column;

    gap: 1.5rem;
    width: 95%;

    margin: auto;
    margin-bottom: 0;
    margin-left: 0;
    padding-bottom: 3rem;
}

/*- Propiedades del div general -*/
.general{
    flex: 1;
    display: grid;
    grid-template-rows: 15% 85%;
    overflow: auto;
}

.general::-webkit-scrollbar {
    width: 3px; /* Ancho de la barra de desplazamiento */
    height: 0px;
}

.general::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.1); /* Cambia el color del pulgar de la barra */
    border-radius: 5px; /* Bordes redondeados para el pulgar */
}

.general::-webkit-scrollbar-track {
    background-color: rgba(255, 255, 255, 0.05); /* Cambia el color de la pista de la barra */
}

/*- Propiedades del membrete -*/
.membrete{
    display: flex;
    align-items: center;
    grid-row: 1;

    background-color: transparent;
    width: 100%;
    height: 100%;
    border-bottom: 0.0625rem solid rgba(255, 255, 255, 0.20);
}

/*- buscador -*/
.buscador{
    flex: 1;
    height: 35%;
    
    margin-right: 5%;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;

    border-radius: 1.5rem;
    border: 1px solid rgba(255, 255, 255, 0.50);
    backdrop-filter: blur(3px);

    margin-left: 3.37rem;
}

.buscador input{
    color: #FFF;
    text-align: left;
    font-family: Poppins;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    display: flex;
    align-items: center;
    gap: 0.5625rem;
    height: 100%;
    width: 100%;

    background-color: transparent;
    border: none;
}

.buscador img{
    align-self: flex-start;
    margin: auto;
    margin-left: 1%;
    margin-right: 1%;
}

.accionesBotonesImage{
    color: #C59BFA;
    text-align: center;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    cursor: pointer;
}

.tituloTarjeta{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.tituloTarjeta h1{
    margin-top: 2.12rem;
    margin-bottom: 1.17rem;
    width: 4.375rem;
    color: #FFF;
    font-family: Poppins;
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}



/*------ saludo y resumen -----*/
.divSaludo{
    display: flex;
    flex-direction: column;
    position: relative;
    font-weight: bold;
}

/*------ Saludo -----*/
.saludo{
    color: #FFF;
    font-family: Poppins;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.saludoAyuda{
    color: #FFF;
    font-family: Poppins;
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

/*- Contenido derecho -*/
.menuDerecho{
    display: grid;
    grid-template-rows: 15% 85%;
    height: 100vh;

    background: rgba(255, 255, 255, 0.10);
    white-space: nowrap;
}

.menuDerechoElementos{
    padding-left: 1rem;
    padding-right: 1rem;
}

.derechoBoton{
    width: 100%;
    height: 3.375rem;

    margin-bottom: 0.75rem;
    padding: 0.75rem 1.5rem;

    display: flex;
    align-items: center;
    gap: 0.75rem;
    align-self: stretch;
    
    border-radius: 0.75rem;
    border: 2px solid #8933F5;
    background: rgba(137, 51, 245, 0.05);
    cursor: pointer;
}

.derechoBoton:hover{
    border-radius: 0.75rem;
    border: 2px solid white;
    background: rgba(255, 255, 255, 0.20);
}

.accionesBotonesLetra{
    color: #C59BFA;
    font-family: Poppins;
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    cursor: pointer;
}


/*- notificaciones y/o usuario -*/
.user{
    grid-row: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    border-bottom: 0.0625rem solid rgba(255, 255, 255, 0.20);
}

.userFoto{
    width: 3.75rem;
    height: 3.65rem;
    flex-shrink: 0;

    margin-top: 2.37rem;
    margin-bottom: 1.18rem;
    margin-right: 2.28rem;

    border-radius: 624.9375rem;
    background: lightgray -27.5px 0px / 150% 100% no-repeat;

    cursor: pointer;
}

.user button{
    background-color: transparent;
    border: none;

    margin-top: 2.37rem;
    margin-bottom: 1.18rem;
    margin-right: 2.28rem;

    cursor: pointer;
}

/*- Propiedades del centro -*/
.divContenedorPrincipal{
    grid-row: 2;
    display: flex;
    flex-direction: column;
    padding: 20rem;
}

/*- Pie de pagina -*/


.footerText{
    margin-left: 2.06rem;
    margin-bottom: 0.81rem;
    font-family: Poppins;
    justify-content: center;
    align-items: center;
    justify-items: center;
}

.footerNegrita{
    color: #FFF;
text-align: center;
font-family: Poppins;
font-size: 0.9375rem;
font-style: normal;
font-weight: 400;
line-height: normal;
}

.footerPrimerDiv{
    color: #FFF;
font-family: Poppins;
font-size: 0.9375rem;
font-style: normal;
font-weight: 400;
line-height: normal;

    display: flex;
    flex-direction: column;
    justify-items: center;
    margin: 2rem;
    margin-bottom: 1rem;
    gap: 1rem;
}

.footerSegundoDiv{
    color: #FFF;
font-family: Poppins;
font-size: 0.9375rem;
font-style: normal;
font-weight: 400;
line-height: normal;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-items: center;
    grid-column: 2;
    margin-top: 1rem;
    gap: 1rem;
}

.footerTercerDiv{
    color: #FFF;
font-family: Poppins;
font-size: 0.9375rem;
font-style: normal;
font-weight: 400;
line-height: normal;

    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    justify-items: center;
    gap: 1rem;
    grid-column: 3;

    margin: 2rem;
    margin-bottom: 1rem;

    color: #FFF;
    text-align: center;
    font-family: Poppins;
    font-size: 0.9375rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.socialFooter {
    grid-column: 3;
    background-color: rgba(0, 0, 0, 0.2);
    color: white;
    text-align: center;
    border-radius: 100%;
}

.socialFooter img {
    width: auto;
    height: auto;
}

.fondoFooter{
    background-color: black;
}
  

 
/*----------------------------------------  PARTE RESPOSIVE  Fue diseñado para 1440*900px---------------------------------------------- */

/* Para tablet */
@media (max-width: 1024px) {

    /* body */
    .gridDashboard{
        margin: 0;
        padding: 0;
    
    
        display: grid;
        grid-template-columns: 10% 90% 0%;

    }
    /*-- Menu derecho ---*/
    .menu{
        grid-template-rows: 5% 80% 15%;
    }

    .menuDerechoElementos{
        padding-left: 0.5rem;
    }

    #botonesAuxIzquierda{
        display: flex;
    }

    .menuArriba{
        height: 10%;
        gap: 0;
    }

    .accionesBotonesLetra{
        font-size: 12px;
    }

    .botones{
        justify-content: center;
        padding: 0;
        margin: 0;
    }

    .derechoBoton{
        padding: 0;
        padding-left: 5px;
    }


    .menuDerecho,
    .botonLetra,
    .menuButton {
        display: none;
    }

    .menuLogo{
        width: 60px;
        align-items: center;
        padding-top: 2rem;
        padding-bottom: 1rem;
        border-bottom: 2px solid #FFF;
    }

    /*-- buscador ---*/
    .membrete{
        padding-top: 1%;
        padding-bottom: 1%;
    }

    .buscador{
        height: 2.5rem;
    }
    
    /*-- general ---*/
    .general{
        grid-template-rows: 5% 95%;
    }

    .FooterTercerDiv{
        flex-direction: column;
        font-size: 10px;
        gap: 10px;
    }
}

/* Para celulares */
@media (max-width: 767px) {
    
    /*-- Menu derecho ---*/
    .menuDerecho,
    .user,
    .membrete,
    .botonLetra,
    .menuButton {
        display: none;
    }

    .menuLogo{
        width: 60px;
        align-items: center;
        padding-top: 3rem;
        padding-bottom: 1rem;
        border-bottom: 2px solid #FFF;
    }

    .gridDashboard{
        grid-template-columns: 20% 80% 0%;
    }

    .general{
        grid-template-rows: 0% 100%;
    }

    /*-- footer ---*/
    .footerTercerDiv{
        flex-direction: column;
        font-size: 10px;
    }
    .socialFooter{
        width: 1rem;
        height: 1rem;
    }
    .footerText{
        margin: 0;
        margin-left: 1rem;
    }
    .footerNegrita{
        font-size: 16px;
    }

    .menuDerechoElementos{
        padding: 0;
        justify-self: center;
    }

    #contenedorBotonesDerecho{
        grid-column-start: 3;
        gap: 6em;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        flex-direction: column;
    }

    .divSaludo{
        padding-bottom: 1rem;
    }

    .derechoBoton{
        width: 8rem;
        height: 3rem;
        padding: 0.3rem;
        margin: 0;
        display: flex;
        justify-content: center;
        align-items: center;

        transform-origin: center center;
        transform: rotate(270deg);
    }

    .accionesBotonesLetra{
        font-size: 12px;
    }

    .tituloTarjeta,
    .titulo,
    .tarjeta{
        display: none;
    }

}




.formulario-transferencia {
    width: 100%;
    max-width: 400px;
    margin: auto; /* Esto centrará horizontalmente el formulario */
    padding: 20px; /* Añadir un relleno para mejorar la apariencia */
    box-sizing: border-box; /* Incluir el relleno en el tamaño total del formulario */
}

/* Estilos para el contenedor del select */
.formulario-transferencia select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
}

/* Estilos para el input de cantidad */
.formulario-transferencia input[type="number"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
}

/* Estilos para el botón de enviar */
.formulario-transferencia button {
    background-color: #4caf50;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/* Cambiar color del botón al pasar el ratón por encima */
.formulario-transferencia button:hover {
    background-color: #45a049;
}