{% extends "layout/dashboard.html" %}

{% load static %}

{% block link %}
<link rel="stylesheet" href="{% static 'actividad/css/actividad.css' %}">
<title>Actividad</title>
{% endblock %}

{% block content %}
<h1 class="movimientos-titulo">Tu actividad es</h1>

<div class="div-movimientos">

 
  {% for item in movimientos %}

  <div class="moviminetos-tarjeta">

    <!-- numeros y fechas -->
    <span class="movimiento-texto">
      <h1>${{ item.monto }}</h1>
      <h2>Hora: {{ item.hora }}</h2>
    </span>

    <h2 class="motivoTexto">{{ item.id_tipo_operacion.tipo }}</h2>
    <!-- motivo -->
    <span class="motivo">
      <h1 class="{% if item.monto > 0 %}ingreso{% else %}retiro{% endif %}">
        {% if item.monto > 0 %}Ingreso{% else %}Salida{% endif %}</h1>
      <img src="assets/circle-arrow-down.svg" alt="">
    </span>

  </div>

  {% endfor %} 



</div>
{% endblock %}