{% extends "layout/dashboard.html" %}

{% load static %}

{% block link %}
<link rel="stylesheet" href="{% static 'actividad/css/actividad.css' %}">
<title>Actividad</title>
{% endblock %}

{% block content %}
<h1 class="movimientos-titulo">Tu actividad es</h1>

<div class="div-movimientos">

  {% for item in movimientos %}

  <div class="moviminetos-tarjeta">

    <!-- numeros y fechas -->
    <span class="movimiento-texto">
      <h1>${{ item.cantidad }}</h1>
      <h2>{{ item.fecha }}</h2>
    </span>

    <h2 class="motivoTexto">{{ item.motivo }}</h2>

    <!-- motivo -->
    <span class="motivo">
      <h1 class="ingreso">{{ item.tipo }}</h1>
      <img src="assets/circle-arrow-down.svg" alt="">
    </span>

  </div>

  {% endfor %}


</div>
{% endblock %}