<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets-globales\style-plantilla.css">
    <link rel="stylesheet" href="/404/style.css">
    <title>Error 404</title>
</head>

<body>
    
    <div class="texto">
        <!--logo de ITBANK-->
        <img src="/404\assets\Logo.svg" alt="">

        <!--Texto-->
        <h1>Parece que algo nos falta,<br>no encontramos lo que buscabas</h1>

        <!--Buton-->
        <a href="../Dashboard\index.html">
            <button class="botones">Volver al inicio</button>
        </a>
    </div>

    <!--404 image-->
    <img class="foto-404" src="/404\assets\404.svg" alt="404 Error">

    <!--Degrade Violeta-->
    <img class="degrade" src="/404\assets\Degrade.svg" alt="404 Error">

</body>

</html>