{% extends "layout/dashboard.html" %}

{% load static %}

{% block link %}
<link rel="stylesheet" href="{% static 'cuenta/css/cuenta.css' %}">
<title>Cuenta</title>
{% endblock %}

{% block content %}
<h3>Cuentas</h3>

{% comment %} {% for item in cuenta %} {% endcomment %}

<div class="tarjeta">

  <div class="renglon">
    <h1 class="titulo">Alias</h1>
    <h1 class="titulo">{{ cliente.customer_name }} {{cliente.customer_surname}}</h1>
  </div>

  <div class="renglon">
    <h1 class="titulo">DNI</h1>
    <h1 class="titulo">{{ cliente.customer_dni}}</h1>
  </div>

  <div class="renglon">
    <h1 class="titulo">CuentaNumero</h1>
    <h1 class="titulo">{{ cuenta.iban }}</h1>
  </div>

</div>

{% comment %} {% endfor %} {% endcomment %}

{% endblock %}