/*-------------- Tipografias --------------*/
@font-face {
    font-family: 'Poppins';
    src: url('/Dashboard/fuentes/Poppins/Poppins-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Space Grotesk';
    src: url('/Dashboard/fuentes/Space_Grotesk/static/SpaceGrotesk-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/*-------------- Propiedades del body --------------*/
body {
    background-color: black;
    color: white;

    margin: 0;
    padding: 0;

    height: 100vh;
    display: flex;

    overflow: hidden;
}

/*-------------- Propiedades del menu --------------*/
.menu{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    width: 18.81rem;

    padding: 0;
    margin: 0;

    background-color: rgb(0, 0, 0);

    border-right: 0.0625rem solid rgba(255, 255, 255, 0.20) ;
}

/*- Encabezado -*/
.menu-arriba{
    margin-top: 3.31rem;
    margin-bottom: 3.75rem;

    display: flex;
    justify-content: left;
    align-items: center;
}

.menu-logo{
    width: 8.88281rem;
    height: 1.87006rem;
    flex-shrink: 0;

    padding: 0;
    padding-left: 2.06rem;
    padding-right: 3.37rem;
}

.menu-button{
    color: #FFF;
    text-align: center;

    font-family: Font Awesome 6 Pro;
    font-size: 1.75rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    padding: 0;
    padding-left: 2.94rem;

    background-color: transparent;
    border: 0px;

    cursor: pointer;
}

/*- Menu -*/
.botones{
    display: flex;

    width: 17.1875rem;
    margin-bottom: 1.75rem;

    padding: 0.375rem 0.375rem 0.375rem 3rem;
    gap: 1.75rem;

    align-items: center;
    
    border-radius: 0rem 0.375rem 0.375rem 0rem;
    border: 0px;
    background-color: transparent;

    cursor: pointer;
}

.boton-image{
    color: #FFF;
    text-align: center;

    font-size: 1.5rem;
    font-style: normal;

    font-weight: 400;
    line-height: normal;
}

.boton-letra{
    color: #FFF;

    font-family: Poppins;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 500;

    line-height: normal;
}

/*- Pie de pagina -*/
.menu-footer{
    align-self: flex-end;

    margin: auto;
    margin-bottom: 0;
    margin-left: 0;
}

.menu .botones{
    margin-bottom: 0;
}

/*-------------- Propiedades del div general --------------*/
.general{

    flex: 1;

    display: flex;
    flex-direction: column;
}

/*-------------- Propiedades del membrete --------------*/
.membrete{
    display: flex;
    align-items: center;

    background-color: transparent;
    width: 100%;
    height: 7.25rem;
    border-bottom: 0.0625rem solid rgba(255, 255, 255, 0.20);
}

/*- buscador -*/
.buscador{
    flex: 1;
    height: 2.25rem;
    
    padding: 0.375rem 0.75rem;
    margin-left: 3.37rem;
    margin-right: 3.38rem;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;

    border-radius: 1.5rem;
    border: 1px solid rgba(255, 255, 255, 0.50);
    backdrop-filter: blur(3px);

    margin-left: 3.37rem;
}

.buscador input{
    color: #FFF;
    text-align: left;
    font-family: Poppins;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    display: flex;
    align-items: center;
    gap: 0.5625rem;
    height: 100%;
    width: 100%;

    background-color: transparent;
    border: none;
}

.buscador img{
    width: 1rem;
    height: 1rem;
    align-self: flex-start;
    margin: auto;
    margin-left: 0rem;
    margin-right: 0.56rem;
}

/*- notificaciones y/o usuario -*/
.user{
    display: flex;
    justify-content: center;
    align-items: center;

    position: fixed;
    right: 0;
    
    margin-right: 2.87rem;
    z-index: 2;
}

.user-foto{
    width: 3.75rem;
    height: 3.75rem;
    flex-shrink: 0;

    border-radius: 624.9375rem;
    background: url("/Dashboard/assets/Avatar.svg"), lightgray -27.5px 0px / 150% 100% no-repeat;

    cursor: pointer;
}

.user button{
    background-color: transparent;
    border: none;

    margin-right: 1.94rem;
    cursor: pointer;
}

/*-------------- Propiedades del menu derecho --------------*/
.menu-derecho{
    display: flex;
    flex-direction: column; /* Alinea los elementos verticalmente */

    width: 22.5rem;

    padding-left: 1.75rem;

    flex-shrink: 0;
    z-index: 1;

    background: rgba(255, 255, 255, 0.10);
}

/*- barra gris -*/
.gris{
    top: 0;

    width: 5rem;
    height: 7.25rem;
    background: transparent;
    z-index: -1;
}

/*- Titulo -*/
.titulo{
    width: 17.0625rem;

    color: #FFF;
    font-family: Poppins;
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;

    margin-top: 2.31rem;
    margin-bottom: 1.75rem;
}

/*- Botones -*/
.derecho-botones{
    width: 19.625rem;
    height: 3.375rem;
    margin-bottom: 0.75rem;

    display: flex;
    padding: 0.75rem 1.5rem;
    align-items: center;
    gap: 0.75rem;
    align-self: stretch;
    
    border-radius: 0.75rem;
    border: 2px solid #8933F5;
    background: rgba(137, 51, 245, 0.05);
    cursor: pointer;
}

.acciones-botones-image{
    color: #C59BFA;
    text-align: center;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    cursor: pointer;
}

.acciones-botones-letra{
    color: #C59BFA;
    font-family: Poppins;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    cursor: pointer;
}

/*------ Tarjeta -----*/

.titulo-tarjeta{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.titulo-tarjeta .titulo{
    margin-top: 2.12rem;
    margin-bottom: 1.17rem;
    width: 4.375rem;
    color: #FFF;
    font-family: Poppins;
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

/*------ Render de tarjeta-----*/
.tarjeta {
    width: 19.625rem;
    height: 11.97181rem;
    border-radius: 1.148rem;
    overflow: hidden;
    position: relative;
}

.fondo{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;

    width: 19.625rem;
    height: 11.97181rem;
    flex-shrink: 0;
}

.degrade{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;

    width: 19.625rem;
    height: 11.97181rem;
    flex-shrink: 0;
}

.visa{
    position: absolute;
    top: 1.91rem;
    left: 13.99rem;
    width: 100%;
    height: 100%;
    object-fit: cover;

    width: 3.55325rem;
    height: 1.148rem;
    flex-shrink: 0;
}

.tarjeta-texto{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;

    display: flex;
    align-items: center;

    color: #FFF;
    font-family: Space Grotesk;
    font-size: 0.76531rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.06125rem;
    text-transform: uppercase;
}

.numeros{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;

    display: flex;
    align-items: center;

    width: 13.33844rem;
    height: 0.92931rem;

    color: #FFF;
    font-family: Space Grotesk;
    font-size: 0.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.04919rem;
}

.credito{
    top: 1.91rem;
    left: 2.13rem;
}

.num{
    top: 7.19rem;
    left: 2.13rem;
}

.nombre{
    top: 9.43rem;
    left: 2.13rem;

    width: 14.33844rem;
}

/*-------------- Propiedades del centro - saludo y resumen --------------*/
.div-saludo{
    
    margin-top: 1.87rem;
    margin-left: 3.37rem;
    margin-right: 3.38rem;
    margin-bottom: 0rem;

    height: 14.56rem;

    display: flex;
    flex-direction: column;
    
    position: relative;
}

/*------ Saludo -----*/
.saludo{

    width: 41.9375rem;

    color: #FFF;
    font-family: Poppins;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

/*------ tarjetas dashboard -----*/
.tarjetas-dashboard{
    flex: 1;

    display: flex;
    align-items: flex-start;
    gap: 1.6875rem;

    height: 6.25rem;
}

.tarjetas{
    height: 6.25rem;

    display: flex;
    padding: 0.75rem 1.5rem;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 0.0625rem;
    flex: 1 0 0;

    border-radius: 0.75rem;
    border: 2px solid rgba(255, 255, 255, 0.20);
    background: rgba(255, 255, 255, 0.05);
}

.tarjetas h1{
    align-self: stretch;
    margin-top: 0.75rem;
    margin-bottom: 0;

    font-family: Poppins;
    font-size: 1.20rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.tarjetas h2{
    flex: 1 0 0;
    margin: 0;

    color: #FFF;
    font-family: Poppins;
    font-size: 1.875rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.retiro-tarjeta{
    color: rgba(255, 49, 49, 1);
    border-radius: 0.75rem;
    border: 2px solid rgba(255, 49, 49, 0.20);
    background: rgba(255, 49, 49, 0.05);
}

.ingreso-tarjeta{
    color: rgba(126, 217, 87, 1);
    border: 2px solid rgba(126, 217, 87, 0.20);
    background: rgba(126, 217, 87, 0.05);
}

.saldo{
    color: rgba(142, 142, 142, 1);
    border-radius: 0.75rem;
    border: 2px solid rgba(255, 255, 255, 0.20);
    background: rgba(255, 255, 255, 0.05);
}

/*-------------- Propiedades del centro - movimientos --------------*/
.div-movimientos{

    margin-left: 3.37rem;
    margin-right: 1em;

    flex: 1;
    flex-grow: 1;
    display: flex;

    align-items: flex-start;
    flex-direction: column;

    overflow: hidden; /* Oculta todas las barras de desplazamiento */
    overflow-y: auto; /* Permite el desplazamiento vertical si el contenido excede el espacio */
}

.div-movimientos::-webkit-scrollbar {
    width: 10px; /* Ancho de la barra de desplazamiento */
}

.div-movimientos::-webkit-scrollbar-thumb {
    background-color: #222222; /* Cambia el color del pulgar de la barra */
    border-radius: 5px; /* Bordes redondeados para el pulgar */
}

.div-movimientos::-webkit-scrollbar-track {
    background-color: rgba(255, 255, 255, 0.1); /* Cambia el color de la pista de la barra */
}

/*------ Saludo -----*/
.movimientos-titulo{
    margin-left: 3.37rem;
    display: flex;
    align-items: flex-start;

}

.movimientos-titulo h1{
    width: 11.38rem;
    
    color: #FFF;
    font-family: Poppins;
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

/*------ tarjetas monto y fecha -----*/

.moviminetos-tarjeta{

    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    height: 6.25rem;
    width: 92%;

    padding: 0.75rem 1.5rem;

    align-items: flex-start;
    gap: 0.0625rem;

    border-radius: 0.75rem;
    border: 2px solid rgba(255, 255, 255, 0.20);
    background: rgba(255, 255, 255, 0.05);

    margin-bottom: 0.75rem;

}

.movimiento-texto h1{
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    margin-top: 0;
    margin-bottom: 0;

    color: #FFF;
    font-family: Poppins;
    font-size: 1.875rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.movimiento-texto h2{
    margin-top: 0;
    margin-bottom: 0;

    align-self: stretch;
    color: #8E8E8E;
    font-family: Poppins;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

/*------ tarjetas motivo -----*/
.motivo{
    color: #7ED957;
    text-align: right;
    font-family: Poppins;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    border: none;
    margin-left: auto; /* Empuja el elemento hacia la derecha */
    align-self: flex-start; 
    display: flex;
    gap: 0.75rem;
}

.motivo img{
    color: #7ED957;
    text-align: center;
    font-family: Font Awesome 6 Pro;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.ingreso{
    color: #7ED957;
    text-align: right;
    font-family: Poppins;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    border: none;
}

.retiro{
    color: #FF3131;
    text-align: right;
    font-family: Poppins;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    border: none;
}



/*----------------------------------------  PARTE RESPOSIVE  Fue diseñado para 1900 px---------------------------------------------- */

/* Para pantallas comunes */

@media (max-width: 1460px) {
    .menu{
        font-size: 10em;
        width: 80rem;
    }

    .menu{
        width: 15rem;
    }

    .menu-logo img{
        padding-right: 0;
    }

    .botones{
        width: 5rem;
        margin-left: 0;
        padding-left: 1em;
    }

    .menu-button{
        margin-left: 0;
        padding-left: 0.5em;
    }

    .div-saludo{
        margin-top: 0.5rem;
        margin-left: 2rem;
        margin-right: 2rem;
    }

    .tarjetas-dashboard{
        height: 10rem;
    }

    .movimientos-titulo{
        margin-left: 2rem;
        margin-left: 2rem;
    }

    .div-movimientos{
        margin-left: 2rem;
        margin-left: 2rem;
    }

    .gris{
        height: 6.5rem;
    }

    .menu-derecho{
        padding-left: 1rem;
        width: 20rem;

        overflow: hidden;
        overflow-y: auto;
    }

    .titulo-tarjeta .titulo{
        margin-top: 1rem;
        height: 1rem;
    }

    .derecho-botones{
        width: 19rem;
    }

}

@media (max-width: 1023px) {
    
}

@media (max-width: 768px) {
}