{% extends "layout/dashboard.html" %}

{% load static %}

{% block link %}
<link rel="stylesheet" href="{% static 'tarjetas/css/tarjetas.css' %}">
<title>Actividad</title>
{% endblock %}

{% block content %}
    <div class="resumenDatos">
      <span> <h1>Gastos del mes:</h1><h2> $ {{ gasto_mes }}</h2> </span>
      <span> <h1>Saldo Disponible:</h1><h2> $ {{ saldo_disponible }}</h2> </span>
      <span> <h1>Fecha de cierre:</h1><h2> $ {{ fecha_cierre }}</h2> </span>
    </div>

    <div class="divSaludo"> <h1 class="saludo"> Historial de Consumo </h1> </div>
    
    <div class="divMovimientos">
      {% for item in historial %}

      <div class="movimientosTarjeta">

        <span class="movimientoTexto">
          <h1>$ {{ item.cantidad }}</h1>
          <h2>{{ item.fecha }}</h2>
        </span>
        
        <h2 class="motivoTexto">{{ item.motivo }}</h2>
        
        <span >
          <h1 class="ingreso">{{ item.tipo }}</h1>
        </span>

      </div>

      {% endfor %}
    </div>
{% endblock %}