/*------ saludo y resumen -----*/
.div-saludo{
    display: flex;
    flex-direction: column;
    position: relative;
    font-weight: bold;
}

/*------ Saludo -----*/
.saludo{
    color: #FFF;
    font-family: Poppins;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

/*------ tarjetas dashboard -----*/
.tarjetas-dashboard{
    display: flex;
    align-items: flex-start;
    gap: 1.6875rem;
}


.saldo{
    color: rgba(142, 142, 142, 1);
    border-radius: 0.75rem;
    border: 2px solid rgba(255, 255, 255, 0.20);
    background: rgba(255, 255, 255, 0.05);
}

.tarjetas{
    height: 6.25rem;

    display: flex;
    padding: 0.75rem 1.5rem;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 0.0625rem;
    flex: 1 0 0;

    border-radius: 0.75rem;
    border: 2px solid rgba(255, 255, 255, 0.20);
    background: rgba(255, 255, 255, 0.05);
}

.tarjetas h1{
    align-self: stretch;
    margin-top: 0.75rem;
    margin-bottom: 0;

    font-family: Poppins;
    font-size: 1.20rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.tarjetas h2{
    flex: 1 0 0;
    margin: 0;

    color: #FFF;
    font-family: Poppins;
    font-size: 1.875rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.ingreso-tarjeta{
    color: rgba(126, 217, 87, 1);
    border: 2px solid rgba(126, 217, 87, 0.20);
    background: rgba(126, 217, 87, 0.05);
}

.retiro-tarjeta{
    color: rgba(255, 49, 49, 1);
    border-radius: 0.75rem;
    border: 2px solid rgba(255, 49, 49, 0.20);
    background: rgba(255, 49, 49, 0.05);
}

.movimientos-titulo{
    width: 11.38rem;
    
    color: #FFF;
    font-family: Poppins;
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.div-movimientos{
    display: flex;

    align-items: center;
    flex-direction: column;

    overflow: hidden; /* Oculta todas las barras de desplazamiento */
    overflow-y: auto; /* Permite el desplazamiento vertical si el contenido excede el espacio */
}

.div-movimientos::-webkit-scrollbar {
    width: 10px; /* Ancho de la barra de desplazamiento */
}

.div-movimientos::-webkit-scrollbar-thumb {
    background-color: #222222; /* Cambia el color del pulgar de la barra */
    border-radius: 5px; /* Bordes redondeados para el pulgar */
}

.div-movimientos::-webkit-scrollbar-track {
    background-color: rgba(255, 255, 255, 0.1); /* Cambia el color de la pista de la barra */
}

/*------ tarjetas monto y fecha -----*/

.moviminetos-tarjeta{

    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    height: 4.25rem;
    width: 90%;
    padding: 0.75rem 1.5rem;

    align-items: flex-start;
    gap: 0.0625rem;

    border-radius: 0.75rem;
    border: 2px solid rgba(255, 255, 255, 0.20);
    background: rgba(255, 255, 255, 0.05);

    margin-bottom: 0.75rem;

}

.movimiento-texto h1{
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    margin-top: 0;
    margin-bottom: 0;

    color: #FFF;
    font-family: Poppins;
    font-size: 1.875rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.movimiento-texto h2{
    margin-top: 0;
    margin-bottom: 0;

    align-self: stretch;
    color: #8E8E8E;
    font-family: Poppins;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.motivoTexto{
    display: flex;
    margin-left: auto; /* Empuja el elemento hacia la derecha */
    margin-bottom: 0;
    align-self: flex-end; 
    font-family: Poppins;
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    border: none;
    color: #555555;
}

/*------ tarjetas motivo -----*/
.motivo{
    display: flex;
    margin-left: auto; /* Empuja el elemento hacia la derecha */
    align-self: flex-start; 
    gap: 0.75rem;
    text-align: right;
    font-family: Poppins;
    font-size: 0.4rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    border: none;
}

.ingreso{
    color: #7ED957;
    
}

.retiro{
    color: #FF3131;
}

