{% extends "layout/dashboard.html" %}


{% load static %}

{% block link %}
<link rel="stylesheet" href="{% static 'facturas/css/facturas.css' %}">
<title>Facturas</title>
{% endblock %}


{% block content %}
<div class="divSaludo">
  <h1 class="saludo">Facturas por vencer</h1>
</div>
<div class="divMovimientos">
  {% for item in por_vencer %}

  <div class="movimientosTarjeta">

    <span class="movimientoTexto">
      <h1>$ {{ item.cantidad }}</h1>
      <h2>{{ item.fecha }}</h2>
    </span>

    <h2 class="motivoTexto">{{ item.motivo }}</h2>

    <span>
      <h1 class="ingreso">{{ item.tipo }}</h1>
    </span>

  </div>

  {% endfor %}
</div>

<div class="divSaludo">
  <h1 class="saludo">Historial de pagos</h1>
</div>
<ul>
  {% for item in historial %}
  
  <div class="movimientosTarjeta">

    <span class="movimientoTexto">
      <h1>$ {{ item.cantidad }}</h1>
      <h2>{{ item.fecha }}</h2>
    </span>

    <h2 class="motivoTexto">{{ item.motivo }}</h2>

    <span>
      <h1 class="ingreso">{{ item.tipo }}</h1>
    </span>

  </div>

  {% endfor %}
</ul>
{% endblock %}