.divSaludo{
    display: flex;
    flex-direction: column;
    position: relative;
    font-weight: bold;
}

.saludo{
    color: #FFF;
    font-family: Poppins;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}


/*------ tarjetas monto y fecha -----*/

.movimientosTarjeta{

    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    height: 4.25rem;
    width: 90%;
    padding: 0.75rem 1.5rem;

    align-items: flex-start;
    gap: 0.0625rem;

    border-radius: 0.75rem;
    border: 2px solid rgba(255, 255, 255, 0.20);
    background: rgba(255, 255, 255, 0.05);

    margin-bottom: 0.75rem;

}

.movimientoTexto h1{
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    margin-top: 0;
    margin-bottom: 0;

    color: #FFF;
    font-family: Poppins;
    font-size: 1.875rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.movimientoTexto h2{
    margin-top: 0;
    margin-bottom: 0;

    align-self: stretch;
    color: #8E8E8E;
    font-family: Poppins;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

/*------ tarjetas motivo -----*/
.motivo{
    display: flex;
    margin-left: auto; /* Empuja el elemento hacia la derecha */
    align-self: flex-start; 
    gap: 0.75rem;
    text-align: right;
    font-family: Poppins;
    font-size: 0.4rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    border: none;
}

.motivoFoto{
    display: flex;
    margin-left: auto;
    align-self: center; 
}

.motivoTexto{
    display: flex;
    margin-bottom: 0;
    align-self: flex-end; 
    font-family: Poppins;
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    border: none;
    color: #555555;
}

.ingreso{
    color: #7ED957;
    
}

.retiro{
    color: #FF3131;
}


/*-------------- Propiedades del centro - movimientos --------------*/
.divMovimientos{
    display: flex;

    align-items: center;
    flex-direction: column;

    overflow: hidden; /* Oculta todas las barras de desplazamiento */
    overflow-y: auto; /* Permite el desplazamiento vertical si el contenido excede el espacio */
}

.divMovimientos::-webkit-scrollbar {
    width: 10px; /* Ancho de la barra de desplazamiento */
}

.divMovimientos::-webkit-scrollbar-thumb {
    background-color: #222222; /* Cambia el color del pulgar de la barra */
    border-radius: 5px; /* Bordes redondeados para el pulgar */
}

.divMovimientos::-webkit-scrollbar-track {
    background-color: rgba(255, 255, 255, 0.1); /* Cambia el color de la pista de la barra */
}