{% extends 'login/base.html' %}

{% block contend %}
<form action="" class="formulario" id="form">
    <h2 class="subtitulo">Recupero de contraseña</h2>
    <input class="input" type="email" name="email" id="email" placeholder="📧 Email" required> 
    <input class="input" type="number" name="apellido" id="dni" placeholder="👤 DNI" required>            
    <input class="input" type="text" name="email" id="pregunta" placeholder="❓ Pregunta de seguridad  (aca iria la pregunta que ingreso la persona de la cuenta)" required>
    <input class="input" type="password" name="password1" id="password1" placeholder="🔒 Contraseña nueva" required>  
    <input class="input" type="password" name="password2" id="password2" placeholder="🔒 Repita la contraseña nueva" required>  
    <input class="input boton" type="submit" value="Enviar">                                       
</form>
<p id="warnings" class="parrafo"></p>
<div>
    <p class="parrafo">¿Ya tiene cuenta? <a href="{% url '' %}"  class="link">Iniciar Sesion</a></p>
    <p class="parrafo">¿No tiene cuenta? <a href="{% url 'register' %}"  class="link">Crear cuenta</a></p>
</div>
{% endblock %}
