{% extends 'login/base.html' %}

{% block contend %}


<form action="" class="formulario" id="form">
    <h2 class="subtitulo">!Cuenta nueva!</h2>
    <input class="input" type="text" name="nombre" id="nombre" placeholder="👤 Nombre" required>           
    <input class="input" type="text" name="apellido" id="apellido" placeholder="👤 Apellido" required>           
    <input class="input" type="text" name="usuario" id="usuario" placeholder="👤 Usuario" required>           
    <input class="input" type="number" name="dni" id="dni" placeholder="👤 DNI" required>           
    <input class="input" type="email" name="email" id="email" placeholder="📧 Email" required>           
    <input class="input" type="number" name="telefono" id="telefono" placeholder="📞 Teléfono" required>           
    <input class="input" type="text" name="ubicacion" id="ubicacion" placeholder="🌍 Ubicación" required>           
    <select name="select" class="input" required>
        <option value="" selected>❓ Seleccione una pregunta de seguridad</option>
        <option value="value1">¿Cúal fue el nombre de mi primera mascota?</option>
        <option value="value2">¿Cuál es tu comida favorita?</option>
        <option value="value3">¿Cuál es el segundo nombre de tu madre?</option>
        <option value="value4">¿Cuál es tu color favorito?</option>
    </select> 
    <input class="input" type="text" name="pregunta" id="pregunta" placeholder="❓ Pregunta de seguridad" required>
    <input class="input" type="password" name="password1" id="password1" placeholder="🔒 Contraseña" required>  
    <input class="input" type="password" name="password2" id="password2" placeholder="🔒 Repite la contraseña" required>
    <label class="parrafo">
        <input type="checkbox" id="cbox" value="cbox"> <label for="" class="parrafo">Aceptar
            <button class="link btn-abrir" type="button">Términos, Condiciones y Póliticas de privacidad</button>  
        </label>
    </label>          
    <dialog class="dialog">
        <h1 class="subtitulo">Terminos y condiciones</h1>
        <p class="parrafo">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas nulla quisquam vero architecto labore magni natus veritatis dolor cupiditate, 
        odio est perspiciatis assumenda commodi minus voluptates quos placeat veniam. Et? Beatae inventore perspiciatis officiis doloremque architecto nesciunt 
        accusantium non earum soluta optio porro error asperiores suscipit eaque consectetur sed ad amet iusto velit ipsum, numquam natus. Nemo magni nesciunt 
        provident! Dolor ut consectetur delectus ad fugit eligendi exercitationem ex, et, aliquid enim provident quibusdam reprehenderit maiores ratione amet 
        doloribus. Exercitationem itaque dolore reprehenderit rem officia provident, nihil porro possimus magni. Ullam, aliquam distinctio! Facilis eveniet magni 
        aspernatur quaerat quasi earum asperiores ducimus ex enim sint repudiandae obcaecati, in officia eius autem maiores quas atque saepe ipsum tenetur dolorem 
        blanditiis nesciunt! Neque deleniti ex vitae voluptates hic aliquam obcaecati. Earum non excepturi architecto dolores. Exercitationem beatae natus similique 
        fuga ex, accusamus neque ducimus molestiae aliquam ut quo expedita, esse placeat voluptatum? Odio mollitia exercitationem voluptatem voluptas, sunt 
        veritatis totam ex harum dolores, ab omnis provident similique reiciendis blanditiis voluptates autem quam nesciunt aspernatur cupiditate molestiae 
        eaque! Dolorum eos odio quaerat soluta! Molestiae reiciendis nulla quod totam nihil, dolorum quaerat est, ipsam deserunt tenetur quisquam, ex itaque. 
        Perspiciatis ad fugit excepturi, molestiae accusamus labore temporibus earum vero veniam sequi nisi explicabo beatae. iores, quam ex a provident laudantium 
        facilis fugiat! Tempore, nemo nobis? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam aut odio autem assumenda expedita quo laudantium 
        beatae dignissimos, nobis at voluptatibus maxime ipsum labore quos saepe unde est laborum quaerat. Quo reiciendis impedit iste obcaecati nulla debitis quis 
        odio ratione id, dolorem unde eius reprehenderit, magni voluptatem, asperiores exercitationem. Magni sunt libero rem doloribus quae quidem minima animi iure 
        perspiciatis? Aliquid at praesentium repellendus, harum aliquam totam id hic doloremque deserunt veritatis! Laboriosam esse quas veniam. Voluptates, 
        expedita dolorum earum qui accusamus eos possimus esse quia necessitatibus dicta, quas error. Velit aliquid quam rem. Sit cumque inventore quaerat corrupti 
        nostrum assumenda deleniti, voluptatum, quibusdam quis laudantium eos aspernatur debitis ipsum harum odio alias excepturi, molestias recusandae dolorum 
        doloribus esse facilis.
        <h1 class="subtitulo">Póliticas de privacidad</h1>
        <p class="parrafo">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas nulla quisquam vero architecto labore magni natus veritatis dolor cupiditate, 
            odio est perspiciatis assumenda commodi minus voluptates quos placeat veniam. Et? Beatae inventore perspiciatis officiis doloremque architecto nesciunt 
            accusantium non earum soluta optio porro error asperiores suscipit eaque consectetur sed ad amet iusto velit ipsum, numquam natus. Nemo magni nesciunt 
            provident! Dolor ut consectetur delectus ad fugit eligendi exercitationem ex, et, aliquid enim provident quibusdam reprehenderit maiores ratione amet 
            doloribus. Exercitationem itaque dolore reprehenderit rem officia provident, nihil porro possimus magni. Ullam, aliquam distinctio! Facilis eveniet magni 
            aspernatur quaerat quasi earum asperiores ducimus ex enim sint repudiandae obcaecati, in officia eius autem maiores quas atque saepe ipsum tenetur dolorem 
            blanditiis nesciunt! Neque deleniti ex vitae voluptates hic aliquam obcaecati. Earum non excepturi architecto dolores. Exercitationem beatae natus similique 
            fuga ex, accusamus neque ducimus</p>
        </p>
        <button class="link btn-cerrar" type="button">Cerrar</button>
    </dialog>                     
    <input class="input boton" type="submit" value="Crear cuenta">
    <p id="warnings" class="parrafo"></p>
</form>
<p class="parrafo">¿Ya tiene cuenta?<a href="{% url '' %}"  class="link"> Iniciar Sesion</a></p>
{% endblock %}