{% extends "layout/dashboard.html" %}

{% load static %}

{% block link %}
<link rel="stylesheet" href="{% static 'home/css/home.css' %}">
<link rel="stylesheet" href="{% static 'transferencias/css/transferencias.css' %}">
<title>Home</title>
{% endblock %}

{% block content %}
<div class="linkDIV">
    <a href="{% url 'realizaTransferencia' %}">
        <h1 class="link">Realiza Transferencia</h1>
    </a>    
</div>


<div class="divSaludo">
    <h1 class="saludo">Listado de transferencias</h1>
</div>

<div class="div-movimientos">

    {% for item in transferencias %}
    {% if 'TRANSFERENCIA' in item.id_tipo_operacion.tipo %}
    <div class="moviminetos-tarjeta">

        <!-- numeros y fechas -->
        <span class="movimiento-texto">
            <h1>${{ item.monto }}</h1>
            <h2>Hora: {{ item.hora }}</h2>
        </span>

        <h2 class="motivoTexto">{{ item.id_tipo_operacion.tipo }}</h2>
        <!-- motivo -->
        <span class="motivo">
            <h1 class="{% if item.monto > 0 %}ingreso{% else %}retiro{% endif %}">
                {% if item.monto > 0 %}Ingreso{% else %}Salida{% endif %}</h1>
            <img src="assets/circle-arrow-down.svg" alt="">
        </span>

    </div>
    {% endif %}
    {% endfor %}


</div>

{% endblock %}