<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>dashboard</title>
  </head>
  <body>
    <h1>hola! {{ user }}</h1>
    
    <h2>Actual en cuenta {{ actualCuenta }}</h2>
    <h2>Ingreso {{ cantidadIngreso }}</h2>
    <h2>Egreso {{ cantidadEgreso }}</h2>

    <h3>Moviminetos</h3>
    <ul>
      {% for item in movimientos %}

      <li>
        <h2>{{ item.fecha }}</h2>
        <h2>{{ item.tipo }}</h2>
        <h2>{{ item.motivo }}</h2>
        <h2>{{ item.cantidad }}</h2>
      </li>

      {% endfor %}
    </ul>
    
  </body>
</html>
